---
---

// Reset using Normalize
@import "normalize";

// Import fonts from Google
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);

// Site configuration
@import "config";

// Import Partials
@import "partials/typography";
@import "partials/mixins";

// Modules
@import "modules/buttons";
@import "modules/forms";
@import "modules/tables";
@import "modules/syntax";

// Mobile up base styles
@import "breakpoints/mobileup";

// Import media queries add more as you desire
@media only screen and (min-width: 800px) {
	@import "breakpoints/800up";
}
@media only screen and (min-width: 1200px) {
	@import "breakpoints/1200up";
}

// If IE support is needed you can add them here or create another stylesheet for specific IE fixes

.album-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.album {
    text-align: center;
    flex: 1 1 calc(25% - 20px); // Cada portada ocupa un cuarto del ancho menos el espacio del gap
    max-width: calc(25% - 20px); // Limita el ancho máximo a un cuarto del contenedor
    box-sizing: border-box; // Asegura que el padding y el border no afecten el ancho total
}

.album img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.album img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.album p {
    margin-top: 10px;
    font-size: 0.9em;
    color: #333;
}

/* Media query para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    .album {
        flex: 1 1 100%; // Cada portada ocupa el 100% del ancho
        max-width: 100%; // Limita el ancho máximo al 100%
    }
}

.links-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link-item {
    text-align: center;
}

.link-item a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    color: #007acc;
    text-decoration: none;
}

.link-item a:hover {
    text-decoration: underline;
}

.link-item .flag {
    width: 24px;
    height: 16px;
}

.link-item p {
    margin-top: 5px;
    font-size: 0.9em;
    color: #555;
}
